In [58]:
#import pandas package
import pandas as pd
#reading the dataset 
df=pd.read_csv('titanic.csv')
#To print first 5 rows of data
print(df.head())
#to know the complete info about the data
print(df.info())
#display summary statistics
print(df.describe())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

In [59]:
#Fill missing values in 'Age' with the median age
df['Age'].fillna(df['Age'].median(),inplace=True)
#fill missing values in 'Embarked' with most frequent value
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)
#drop the 'Cabin' column due to too many missing values
df.drop(columns=['Cabin'],inplace=True)

In [60]:
#After removing some values and adding some missing values the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          418 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 36.1+ KB

In [61]:
#convert categorical values
#I want to convert sex into numeric valus
df['Sex']=df['Sex'].map({'male':0,'female':1})
#convert 'Embarked' into numeric values
df=pd.get_dummies(df,columns=['Embarked'],drop_first=True)

In [62]:
print(df.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name  Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    0  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)    1  47.0      1      0
2                     Myles, Mr. Thomas Francis    0  62.0      0      0
3                              Wirz, Mr. Albert    0  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    1  22.0      1      1

    Ticket     Fare  Embarked_Q  Embarked_S
0   330911   7.8292        True       False
1   363272   7.0000       False        True
2   240276   9.6875        True       False
3   315154   8.6625       False        True
4  3101298  12.2875       False        True

In [63]:
df['FamilySize']=df['SibSp']+df['Parch']+1
#drop column that won't be used in the model
df.drop(columns=['Name','Ticket','PassengerId'],inplace=True)

In [64]:
print(df['Embarked_Q'].sum())
print(df['Embarked_S'].sum())
df['Fare'].fillna(df['Fare'].median(), inplace=True)
#df.dropna(inplace=True)

print(df.info())

46
270
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    418 non-null    int64
 1   Pclass      418 non-null    int64
 2   Sex         418 non-null    int64
 3   Age         418 non-null    float64
 4   SibSp       418 non-null    int64
 5   Parch       418 non-null    int64
 6   Fare        418 non-null    float64
 7   Embarked_Q  418 non-null    bool
 8   Embarked_S  418 non-null    bool
 9   FamilySize  418 non-null    int64
dtypes: bool(2), float64(2), int64(6)
memory usage: 27.1 KB
None

In [65]:
#model Training
from sklearn.model_selection import train_test_split

x=df.drop(columns=['Survived'])
y=df['Survived']
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [66]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 1.0
[[50  0]
 [ 0 34]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [67]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [68]:
# Predict survival on the test set
predictions = model.predict(X_test)

# Save the results
results = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})
print(results)
results.to_csv('titanic_predictions.csv', index=False)

     Actual  Predicted
321       0          0
324       1          1
388       0          0
56        0          0
153       1          1
..      ...        ...
57        0          0
126       0          0
24        1          1
17        0          0
66        1          1

[84 rows x 2 columns]